doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/common.css')
    link(rel='stylesheet', href='/stylesheets/blog.css')
    link(rel="shortcut icon" href='/images/fav.ico')
  body
    //- h1='Blog Page'
    nav
      ul#navLeft
        li
          img(src=logoSrc, alt="logo")
        li
          a(href="#")='主 页'
        li
          a(href="#")='博 客'
        li
          a(href="#")='生 活'
        li
          a(href="#")='娱 乐'
        li
          a(href="#")='玩 耍'
      div#navRight
        div#navWrapper
          img(src=imgSrc, alt="me")
          input(type="text" value="请输入...")
      //- span.corner.corner-1
      //- span.corner.corner-r