doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/common.css')
    link(rel='stylesheet', href='/stylesheets/blog.css')
    link(rel="shortcut icon" href='/images/fav.ico')
  body
    h1='Blog Page'
    nav
      ul#wrapper
        li
          a(href="#")='欢迎光临!'
        li
          a(href="#")='登陆'
        li
          a(href="#")='关于我'
        li
          a(href="#")='主页'
        li
          a(href="#")='搜索框'