doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/common.css')
    link(rel='stylesheet', href='/stylesheets/blog.css')
    link(rel="shortcut icon" href='/images/fav.ico')
  body
    //- h1='Blog Page'
    nav
      ul#navLeft
        li
          img(src=logoSrc, alt="logo")
        li
          a(href="#")='主 页'
        li
          a(href="#")='博 客'
        li
          a(href="#")='生 活'
        li
          a(href="#")='娱 乐'
        li
          a(href="#")='玩 耍'
      div#navRight
        div#navWrapper
          img(src=imgSrc, alt="me")
          input(type="text" value="请输入...")
    header
      #container
        #leftRow
          img(src="", alt="左箭头")
        #content
          img(src="", alt="轮播图1")
          img(src="", alt="轮播图2")
          img(src="", alt="轮播图3")
          img(src="", alt="轮播图4")
          img(src="", alt="轮播图5")          
        #rightRow
          img(src="", alt="右箭头")
    .content
      article
        #articleImg
          img(src=articleImgSrc, alt="文章配图")
        #rightContent
          h1='文章标题'
          span='文章简介'
          div#menu
            span='分类: 个人成长  '
            span='访问: 1 次  '
            span=' 评论 (3)  '
            button='查看更多'
      #rightBar
        #aboutMe
          #personalImg
            img(src="", alt="本人图片")
          #job
            span='软件开发工程师'
          #hobby
            span='篮球, Coding'
        #newArticle
          span='博客3.0上线 new'
          span='RN 开发中 Android 的坑'
          sapn='RN 学习总结'
        #friendlyLink
          a(href="http://www.gaoquankang.cn")='奔跑的哇牛 | '
          a(href="http://taobaofed.org/")='淘宝团队博客 | '
          a(href="http://f2e.souche.com/blog/")='大搜车无线团队博客 | '
          a(href="https://75team.com/")='360奇舞团 | '
          a(href="http://www.alloyteam.com/")='腾讯前端团队'
        #weChat
          img(src="", alt="微信扫我")
    footer
      span='Designed by '
      span='鸣人 | '
      span='蜀字备24869y59-1 @2017. '