doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/common.css')
    link(rel='stylesheet', href='/stylesheets/blog.css')
    link(rel="shortcut icon" href='/images/fav.ico')
  body
    //- h1='Blog Page'
    nav
      ul#navLeft
        li
          a(href="#")='欢迎光临!'
        li
          a(href="#")='home'
        li
          a(href="#")='blog'
        li
          a(href="#")='栏目3'
        li
          a(href="#")='栏目4'
      #navRight
        img(src=imgSrc, alt="me")
        input(type="text" value="请输入...")
      //- span.corner.corner-1
      //- span.corner.corner-r