doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/common.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel="shortcut icon" href='/images/fav.ico')
  body
    ul#nav
      li='主页'
      li='个人简历'
      li='心得笔记'
      li='个人日记'
      li='搜索框'
      li='分类'
    h1= title
    p Welcome to #{title}
    h2= name
    img(src=imgSrc, width=100, height=150, alt="images")