doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/common.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel="shortcut icon" href='/images/fav.ico')
  body
    div#container
      h1=name
      h2=hobby
      p
        a(href="/blog")='Blog'
      p
        a(href="https://www.facebook.com/frank.wu.12764")='Facebook'
      p
        a(href="https://twitter.com/Flyerwu")='Twitter'
      p
        a(href="https://github.com/onlyflyer")='Github'
      p
        a(href="/me")='Me'
    canvas(width=908 height=983)
  script(src=jsSrc)
