doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/common.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel="shortcut icon" href='/images/fav.ico')
  body
    div#container
      h1=name
      h2=hobby
      p
        a(href="http://www.flyerw.cn" target='_blank')='Blog'
      p
        a(href="https://www.facebook.com/frank.wu.12764" target='_blank')='Facebook'
      p
        a(href="https://twitter.com/Flyerwu" target='_blank')='Twitter'
      p
        a(href="https://github.com/onlyflyer" target='_blank')='Github'
      p
        a(href="http://www.flyerw.cn/#/myInfo")='Me'
    canvas(width=908 height=983)
  script(src=jsSrc)
